<div class="container">
<h1>Our restaurants</h1>

<ul>
  <% @restaurants.each do |restaurant| %>
  <p><%= link_to restaurant.name, restaurant_path(restaurant) %></p>
  <% end %>
</ul>

</br>
<%= link_to 'Add a restaurant', new_restaurant_path %>
</div>
